.dropzone {
  align-items: center;
  outline: dashed 3px lightblue;
  outline-offset: -10px;
  z-index: 1;
}

.dragging {
  outline: dashed 3px blue;
  outline-offset: -10px;
}

.drop-image {
  z-index: 0;
  overflow: hidden;
}

.image-file {
  position: absolute;
  z-index: -1;
}

.controls {
  z-index: 2;
  margin-bottom: 4px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}
