<div fxLayout="column" fxFill>
  <div class="toolbar">
    <mat-toolbar color="primary" class="mat-elevation-z2 title-toolbar">
      <mat-toolbar-row fxLayoutGap="16px">
        <mat-label fxFlex>CryptoContests</mat-label>
        <web3-transaction-button></web3-transaction-button>
        <button mat-raised-button color="accent" routerLink="/contest/create">
          CREATE NEW CONTEST
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row fxLayout="row" fxLayoutAlign="center stretch" class="height-auto">
        <nav mat-tab-nav-bar backgroundColor="primary" fxFlex>
          <a mat-tab-link *ngFor="let routeLink of routeLinks; let i = index" [routerLink]="[routeLink.link]"
            queryParamsHandling="merge" [active]="activeLinkIndex === i" (click)="activeLinkIndex = i">
            {{routeLink.label}}</a>
        </nav>
        <div fxLayout="row" fxLayoutAlign="center center">
          <search-box placeholder="Search by title" (searchChange)="searchChange($event)" [searchValue]="searchValue"></search-box>
          <button mat-button [filterToggler]="filter" (filterToggled)="filterToggled($event)" [filterActive]="showFilter">
            <mat-icon>filter_list</mat-icon> FILTER
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <filter-toolbar #filter [style.z-index]="10" (valueChanges)="filterChanged($event)">
      <filter-autocomplete title="Filter by tags" name="tags" [autocompleteValues]="tags$ | async" [initialValue]="filterTags"></filter-autocomplete>
    </filter-toolbar>
  </div>

  <div class="auto-overflow">
    <router-outlet></router-outlet>
  </div>
</div>
