<div fxLayout="column" fxFill>
  <div class="toolbar">
    <mat-toolbar color="primary" class="mat-elevation-z2 title-toolbar">
      <mat-toolbar-row fxLayoutGap="16px">
        <mat-label fxFlex>CryptoContests</mat-label>
        <web3-transaction-button></web3-transaction-button>
        <button mat-raised-button color="accent" routerLink="/contest/create">
          CREATE NEW CONTEST
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row fxLayout="row" fxLayoutAlign="center stretch" class="height-auto">
        <nav mat-tab-nav-bar backgroundColor="primary" fxFlex>
          <a mat-tab-link *ngFor="let routeLink of routeLinks; let i = index" [routerLink]="[routeLink.link]" [active]="activeLinkIndex === i"
            (click)="activeLinkIndex = i">
            {{routeLink.label}}</a>
        </nav>
        <div fxLayout="row" fxLayoutAlign="center center">
          <search-box placeholder="Search by title"></search-box>
          <button mat-button [filterToggler]="filter">
            <mat-icon>filter_list</mat-icon> FILTER
          </button>
          <button mat-button [sortByMenu]="sortOptions">
            <mat-icon>sort</mat-icon> SORT BY
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <filter-toolbar #filter [style.z-index]="10" (valueChanges)="filterChanged($event)">
      <filter-number title="Award" name="award"></filter-number>
      <filter-date title="Initial Date" name="initialDate"></filter-date>
      <filter-autocomplete title="Filter by tags" name="tags" [autocompleteValues]="tags$ | async"></filter-autocomplete>
      <filter-advanced>
        <filter-date title="End Date" name="endDate"></filter-date>
      </filter-advanced>
    </filter-toolbar>
  </div>

  <div class="auto-overflow">
    <router-outlet></router-outlet>
  </div>
  <!--
  <mat-tab-group fxFlex="grow" [selectedIndex]="1" backgroundColor="primary">
    <mat-tab label="Upcoming Contests">
      <cc-contest-grid fxFlex [contests]="upcomingContests$ | async" (contestSelected)="selectContest($event)" *ngrxLoading="upcomingContests$;empty:'The search returned no contests'">
      </cc-contest-grid>
    </mat-tab>

    <mat-tab label="Ongoing Contests">
      <cc-contest-grid fxFlex [contests]="ongoingContests$ | async" (contestSelected)="selectContest($event)" *ngrxLoading="ongoingContests$;action:action;empty:'The search returned no contests'">
      </cc-contest-grid>
    </mat-tab>

    <mat-tab label="On Voting Contests">
      <cc-contest-grid fxFlex [contests]="votingContests$ | async" (contestSelected)="selectContest($event)" *ngrxLoading="votingContests$;empty:'The search returned no contests'">
      </cc-contest-grid>
    </mat-tab>

    <mat-tab label="Ended Contests">
      <cc-contest-grid fxFlex [contests]="endedContests$ | async" (contestSelected)="selectContest($event)" *ngrxLoading="votingContests$;empty:'The search returned no contests'">
      </cc-contest-grid>
    </mat-tab>
  </mat-tab-group> -->
</div>
