<div fxLayout="column" fxFill>
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <span fxFlex>CryptoContests</span>
    <button mat-raised-button color="accent" routerLink="/contest/create">
      CREATE NEW CONTEST
    </button>
  </mat-toolbar>

  <mat-tab-group fxFlex>
    <mat-tab label="Ongoing Contests">
      <div fxFlex fxLayoutAlign="center center">
        <mat-card fxFlex>
          <cc-contest-grid [contests]="contests$ | async" (contestSelected)="selectContest($event)">
          </cc-contest-grid>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Upcoming Contests"> Content 2 </mat-tab>
    <mat-tab label="Ended Contests"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
