<mat-grid-list cols="3" *ngrxLoading="contests$;action:action;empty:'The search returned no contests'">
  <mat-grid-tile *ngFor="let contest of contests$ | async" fxLayout="column" fxLayoutAlign="start center">
    <mat-card mat-ripple [@cardState] fxFlex class="mat-elevation-z2 contest-tile" fxLayout="column" (click)="selectContest(contest)">
      <img mat-card-image class="crop-image" fxFlex src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
      <mat-card-content class="no-margin">
        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="6%">
          <div fxLayout="row">
            <span class="title" fxFlex>{{contest.title}}</span>
            <span class="subtitle">{{contest.prize | cryptoConvert: 'ETH'}} ETH</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-chip-list fxFlex>
              <mat-chip *ngFor="let tag of contest.tags">{{tag}}</mat-chip>
            </mat-chip-list>
            <span>{{contest.endDate | date}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
