<mat-card @transactionList [style.transformOrigin]="'right top'" class="panel">
  <mat-card-header fxLayout="row" fxLayout="center center">
    <mat-card-title-group fxFlex>
      <mat-card-title>Transactions</mat-card-title>
      <button mat-icon-button (click)="clearTransactions()">
        <mat-icon>clear_all</mat-icon>
      </button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <mat-list-item *ngFor="let transaction of transactions" (click)="selectTransaction(transaction)">
      <mat-icon matListIcon class="badge-icon confirmations-icon" [ngClass]="transaction.confirmations ? 'green' : 'fade'" mat-list-icon
        [matBadge]="transaction.confirmations" [matBadgeHidden]="!transaction.confirmations" matBadgeColor="accent">
        {{transaction.confirmations ? 'check_circle' : 'query_builder'}}</mat-icon>
      <span matLine>{{transaction.name}}</span>
      <span matLine class="hash">{{transaction.hash}}</span>
      <a mat-icon-button [href]="'https://etherscan.com/tx/' + transaction.id" class="launcher">
        <mat-icon matListIcon>launch</mat-icon>
      </a>
    </mat-list-item>
  </mat-nav-list>

</mat-card>
