.mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.winner-padding {
  padding: 24px;
  width: 100%;
}

.mat-tab-body {
  padding: 12px;
}

.mat-tab-label-container {
  position: sticky;
  top: 64px;
  z-index: 100 !important;
}

.mat-tab-label {
  opacity: 1 !important;
}

.mat-tab-label:has(.align-end) {
  justify-content: flex-end !important;
}

.mat-list {
  padding-top: 0 !important;
}

.description {
  word-break: break-all;
}
