<div fxLayout="column">
  <mat-toolbar color="primary" class="mat-elevation-z4 toolbar" fxLayoutGap="16px">
    <button mat-icon-button (click)="goBack($event)">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-label fxFlex>{{(contest$ | async)?.title}}</mat-label>
    <mat-label>{{(contest$ | async) ? ((contest$ | async).prize | cryptoConvert: 'ETH') : ''}} ETH</mat-label>
    <mat-chip>{{(contest$ | async) ? getContestPhase(contest$ | async) : ''}}</mat-chip>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center stretch" *ngIf="contest$ | async; let contest" class="auto-overflow">
    <div fxLayout="column" fxFlex="90%" fxLayoutAlign="start stretch" fxLayoutGap="16px" style="margin-bottom: 16px;">
      <mat-card [@cardState] class="mat-elevation-z2" fxLayout="column">
        <img mat-card-image class="crop-image" fxFlex src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-card-content fxLayout="column" fxLayoutGap="16px">
          <mat-label><strong>{{contest.title}}</strong></mat-label>
          <div fxLayout="row" fxLayoutGap="8px">
            <div fxFlex fxLayout="column" fxLayoutGap="8px">
              <p fxFlex>{{contest.additionalContent?.content?.description}}</p>
              <ng-container *ngIf="contest.tags.length > 0">
                <mat-label><strong>Tags</strong></mat-label>
                <cc-tags [tags]="contest.tags" [clickable]="false"></cc-tags>
              </ng-container>
            </div>
            <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center stretch">
              <mat-label fxFlex>Stake to participate: {{contest?.taxForCandidature | cryptoConvert: 'ETH'}} ETH</mat-label>
            </div>
          </div>
          <mat-label><strong>Phases</strong></mat-label>
          <mat-horizontal-stepper linear="false" #stepper [selectedIndex]="getPhaseIndex(contest)" disabled>
            <mat-step label="Created on {{contest.createdDate | date}}" [completed]="getPhaseIndex(contest) === 0"></mat-step>
            <mat-step label="New candidatures from {{contest.initialDate | date}}" [completed]="getPhaseIndex(contest) > 0"></mat-step>
            <mat-step label="Revision begins on {{contest.candidatureLimitDate | date}}" [completed]="getPhaseIndex(contest) > 1"></mat-step>
            <mat-step label="Contest ends on {{contest.endDate | date}}" [completed]="getPhaseIndex(contest) > 2"></mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
      </mat-card>

      <mat-card [@cardState] class="no-padding mat-elevation-z2">
        <mat-tab-group mat-stretch-tabs [selectedIndex]="getPhaseIndex(contest) > 0 ? 1 : 0" (selectedIndexChange)="selectedTabChange($event)">
          <mat-tab label="{{contest.judges.length}} Judges">
            <cc-judges-list [judges]="contest.judges" (removeJudge)="removeJudge($event)"></cc-judges-list>
          </mat-tab>
          <mat-tab label="Candidatures" [disabled]="!shouldShowCandidatures(contest)">
            <cc-candidature-grid fxFlex [candidatures]="candidatures$ | async" *ngrxLoading="candidatures$;action:participationsAction;empty:'This contest has no candidatures yet'">
            </cc-candidature-grid>
          </mat-tab>
          <mat-tab disabled>
            <ng-template mat-tab-label>
              <div fxFlex [style.flex]="'1'"></div>
            </ng-template>
          </mat-tab>
          <mat-tab disabled>
            <ng-template mat-tab-label>
              <div fxFlex [style.flex]="'1'"></div>
            </ng-template>
          </mat-tab>
          <mat-tab disabled>
            <ng-template mat-tab-label>
              <ng-container *ngIf="selectedTabIndex === 0">
                <button mat-raised-button color="accent" (click)="addJudge()" class="align-end">
                  ADD JUDGE
                </button>
              </ng-container>
              <ng-container *ngIf="selectedTabIndex === 1">
                <button mat-raised-button color="accent" (click)="openCreateCandidatureDialog()">
                  PARTICIPATE
                </button>
              </ng-container>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>

</div>
